html
  font-size 12px
  height 100%

body
  font-family 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif
  //background #fafafa
  //background #4a4a <- play with this green later, looks good
  background #fafafa
  color #1a1a1a
  height 100%

span, li, ul
  display inline-block